@model SushmaElectrical.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Delete";
}
<div class="container"></div>



<div class="container">
    <div class="card">
        <h3 class="card-header">
           Are you sure you want to delete this?
        </h3>
        @if (Model != null)
        {

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Attribute</th>
                                    <th>Value</th>
                                </tr>
                                <tr>
                                    <td><strong>Product Name</strong></td>
                                    <td>@Html.DisplayFor(model => model.ProductName)</td>
                                </tr>
                                <tr>
                                    <td><strong>Quantity</strong></td>
                                    <td>@Html.DisplayFor(model => model.Quantity)</td>
                                </tr>
                                <tr>
                                    <td><strong>Model Number</strong></td>
                                    <td>@Html.DisplayFor(model => model.ModelNumber)</td>
                                </tr>
                                <tr>
                                    <td><strong>Power Rating</strong></td>
                                    <td>@Html.DisplayFor(model => model.PowerRating)</td>
                                </tr>
                                <tr>
                                    <td><strong>Voltage</strong></td>
                                    <td>@Html.DisplayFor(model => model.Voltage)</td>
                                </tr>
                                <tr>
                                    <td><strong>Brand</strong></td>
                                    <td>@Html.DisplayFor(model => model.Brand)</td>
                                </tr>
                                <tr>
                                    <td><strong>Tax</strong></td>
                                    <td>@Html.DisplayFor(model => model.Tax)</td>
                                </tr>
                                <tr>
                                    <td><strong>Gross Price</strong></td>
                                    <td>@Html.DisplayFor(model => model.GrossPrice)</td>
                                </tr>
                                <tr>
                                    <td><strong>Discount</strong></td>
                                    <td>@Html.DisplayFor(model => model.Discount)</td>
                                </tr>
                                <tr>
                                    <td><strong>Description</strong></td>
                                    <td>@Html.DisplayFor(model => model.Description)</td>
                                </tr>
                                <tr>
                                    <td><strong>Net Price</strong></td>
                                    <td>@Html.DisplayFor(model => model.NetPrice)</td>
                                </tr>
                                <tr>
                                    <td><strong>Category</strong></td>
                                    <td>@Html.DisplayFor(model => model.CategoryName)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h6 class="text-center">Product Images</h6>
                        <table class="table">
                            <tbody>

                                @foreach (var imageUrl in Model.ProductImages.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries))
                                {
                                    <tr>
                                        <td class="text-center">
                                            <img src="@imageUrl" alt="Product Image" class="product-image" width="100px;" height="100px;" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                    </table>
                </div>
            </div>
            </div>

        }
        else
        {
            <p>The product details are not available.</p>
        }
        <div class="card-footer text-muted">
            <form asp-action="Delete">
                <input type="submit" value="Delete" class="btn btn-danger" /> 
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </form>
        </div>
    </div>
</div>

    
   

